---
---

@import "{{ site.theme }}";

canvas {
    display: block;
    background-color: black;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 2px;
    margin: auto;
}

.hide {
    display: none;
}