---
---

@import "{{ site.theme }}";

@font-face {
    font-family: Pacman;
    src: url('../../pacman.ttf');
}

canvas {
    display: block;
    background-color: black;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 2px;
    margin: auto;
}

.hide {
    display: none;
}